:root { 
--bluegray_900:#27214d; 
--blue_900:#1b55ac; 
--black_900:#000000; 
--blue_900_28:#1b55ac28; 
--indigo_A700:#403ffc; 
--lime_900:#a96224; 
--bluegray_100:#d9d9d9; 
--lime_901:#6e3809; 
--gray_400_b2:#c2bcbcb2; 
--white_A700:#ffffff; 
--gray_100:#f7f5f5; 
}